body, h1, h2, p, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #0078d4;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2rem;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search-box {
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


input[type="date"],
button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}
select[name="from"]{
    width: 300px;


}
select[name="to"]{
    width: 300px;
}
input[type="date"] {
    width: 200px;
}

button {
    background-color: #0078d4;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #0078d4;
    color: white;
}
