@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
margin: 0;
padding: 0;
outline: none;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}
body{
height: 100vh;
width: 100%;
background: linear-gradient(115deg, #e5ac5d 26%, #f8f6f9 60% , #9be55e 100% );
}
body {
margin: 0;
padding: -30px 30px;
display: flex;
justify-content: center; 
align-items: left; 
min-height: 100vh; 
}
.move-up {
position: absolute;
top: 270px; 
left: 50%; 
transform: translateX(-50%); 
}
.move-up-1{
position: absolute;
top: 320px; 
left: 50%; 
transform: translateX(-50%); 
}
.move-up-2{
    position: absolute;
    top: 375px; 
    left: 50%; 
    transform: translateX(-50%); 
    }
.custom-button-1{
background-color: #56d8e4;
color: #fff; 
padding:15px 10px;
height:60px;
width:80px;
align-items: center;
border-radius: 20px;
cursor: pointer;
float:left; 
margin-left: -30px;
margin-top: 50px;
}
.custom-button-2{
background-color: #56d8e4;
color: #fff; 
padding:15px,10px;
height:60px;
width:80px;
align-items: center;
border-radius: 20px;
cursor: pointer;
float:left; 
margin-left: 40px;
margin-top: 50px;
}
.custom-button-1:hover {
background-color: #786076;
}
.custom-button-2:hover {
    background-color: #786076;
    }
.container {
text-align: center; 
margin-top: 100px;
}
.page{
margin-top: 100px;
}