<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Train Ticket Booking</title>
    <link rel="stylesheet" href="/stylesheets/test.css">
</head>
<body>
    <header>
        <h1>BOOK MY TRAIN</h1>
    </header>
    <main>
        <section class="search-box">
            <h2>Ticket Booking System</h2>
            <form action="/Showtrains" method="post" id="search-box">
                <select name="from" id="from">
                    <option value="enter">Select Boarding station</option>
                    <option value ="Secunderabad">Secunderabad(SC)</option>
                    <option value ="Mumbai">Mumbai(MCC)</option>
                    <option value ="Chennai">Chennai(MAS)</option>
                    <option value ="hyb">Hyderbad Deccan(HYB)</option>
                    <option value = "Kacheguda">Kacheguda(KCG)</option><br><br><br>
                    </select><br><br>
                    <br>
                    <select name="to" id="to">
                        <option value="enter">Select Destination station</option>
                        <option value ="Secunderabad">Secunderabad(SC)</option>
                        <option value ="Mumbai">Mumbai(MCC)</option>
                        <option value ="Chennai">Chennai(MAS)</option>
                        <option value ="hyb">Hyderabad Deccan(HYB)</option>
                        <option value = "Kacheguda">Kacheguda(KCG)</option>
                        </select>
                    <br>
                    <br>
                    <input type="date" id="date" name="date">
                    <button ><input type="submit" name="" value="Continue"></button>
                </form>
    
    </main>
    <footer>
        <p>We dare to care like us..</p>
    </footer>
</body>
</html>
