<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<meta charset="utf-8">
<title>Welcome!!</title>
<link rel="stylesheet" href="stylesheets/Landerpage.css">
</head>
<body>
<div class="page">
<img src="images/BMT.png" height="150">
<h1 class="move-up">Welcome to BOOK MY TRAIN</h1><br>
<h3 class="move-up-1">We dare you to Care like us..</h3>
<h4 class="move-up-2">please choose one option to continue</h5>
<br>
<div class="container">
<a href="/Login"><button class="custom-button-1">LOGIN</button>&emsp14;</a>
<a href="/Signup"><button class="custom-button-2">SIGNUP</button></a>
</div>
</div>
</body>
</html>
    

      