<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Sorry!!</title>
    <style>
        body{
            background-color: black;
        }
        .hello{
            margin-left: 50px;
            color: aliceblue;
        }

    </style>
</head>
<body>
    <div class="hello">
    <h1>Sorry Tickets not available!</h1>
    </div>
</body>
</html>