<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
 <meta charset="UTF-8">
 <title> Signup</title>
 <link rel="stylesheet" href="stylesheets/signup.css">
 
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 </head>
 <body>
 <div class="container">
 <form action="#" method="post">
 <img src="images/BMT.png" width="120" class="custom-image">
 <div class="title">Signup</div>
 <div class="input-box underline">
 <input type="text" name="username" placeholder="Enter your Name" required>
 <div class="underline"></div>
 </div>
 <div class="input-box">
 <input type="email" name="email" placeholder="Enter your email" required>
 <div class="underline"></div>
 <div class="input-box">
    <input type="text" name="phone" placeholder="Enter your mobile number" required>
    <div class="underline"></div>
 </div>
 <div class="input-box underline">
    <input type="password" name="password" placeholder="Create a password" required>
    <div class="underline"></div>
    </div>
 
 <div class="input-box button">
 <input type="submit" name="" value="Continue">
 </div>
 </form>
 </div>
 </body>
</html>